{% extends 'base.html' %}
{% block content %}

<h1>Game - {{ game.title }}</h1>
<p><strong>Created By:</strong> {{ game.created_by.username }}</p>

<p><strong>Rating:</strong> {{ game.rating }}</p>

<p>{{ game.description }}</p>

<p><strong>Collection:</strong> {{ game.collection.name }}</p>

<form method="POST">
    <fieldset>
        <legend>Edit game if needed</legend>
        {{ form.csrf_token }}
        {{ form.title.label }}
        {{ form.title }}
        
        {{ form.rating.label }}
        {{ form.rating }}
    
        {{ form.description.label }}
        {{ form.description }}
    
        {{ form.collection.label }}
        {{ form.collection }}

        <input type="submit" value="Update">
    </fieldset>
</form>

{% endblock %}